body{
 
    box-sizing: border-box;
    background:#ddd;
}

header{
    background:#fff;
    max-width: 1400px;

    margin: 40px auto;
    border-radius: 70px;
}
nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    padding: 50px;
}

nav  .nav-left{
    justify-self: start;
}
nav .nav-left a{
    text-decoration: none;
}
nav .nav-middle{
    justify-self: center;
}
nav .nav-middle a{
    margin-right: 50px;
    text-decoration: none;
}
nav .nav-right{
    justify-self: end;
}

nav .nav-right button:first-child{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 50px;
    margin-right: 30px;
}
nav .nav-right button:last-child{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 50px;
    margin-right: 30px;
}
nav .nav-right a{
    text-decoration: none;
}

main{
    max-width: 1400px;

    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}
main h1{
     max-width: 170px;
     font-weight: bold;
     line-height: 1.5;
}
main p{
    max-width: 240px;
    line-height: 1.5;
}

main .parent-btn{
    max-width: 500px;
    height: 70px;
    border: none;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
main .parent-btn .child-btn{
    margin-right: -150px;
    background: #ddd;
    width: 50px;
    height: 50px;
    border-radius: 30px;

    
}
@media screen and (max-width:1011px){
    nav{
        grid-template-columns:2fr;
    }
    nav .nav-middle, nav .nav-right{
    display:none;
}

}
